extends layout

block content
    h1= title

    </br>
    </br>
    p
        h2
            Available Actions:


    h3
        a(href="/userlist") List of users
    h3
        a(href="/newuser") New user
