extends layout

block content
    h1.
        User List
    ul.listUsers
        each user, i in userlist
            li
                a(href="/userdetails?email=#{user.email}&username=#{user.username}")= user.username